{% trans_default_domain 'FOSUserBundle' %}

<div class="container fos_user_user_show">
    <p class="font-sm-md">{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p class="font-sm-md">{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
</div>
