{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
	
	<h1 class="text-center"><b>Brew-Panel</b></h1>

	<h3><span class="glyphicon glyphicon-tasks"></span> Wyznacz parametry brzeczki</h3>
	<p><b>Określ zawartość alkoholu</b></p>
	{{ form_start(form) }}
		{{ form_widget(form) }}
	{{ form_end(form) }}
	<p><b>Produkty słodowe</b></p>
	<p>Podaj ilość i parametry produktów słodowych</p>

	
	<p><b>Chmiel i goryczka</b></p>
	<p>Podaj zawartość alfa-kwasów</p>

	<hr>
	<h3><span class="glyphicon glyphicon-grain"></span> Wyznacz potrzebne surowce</h3>
	<p><b>Parametry brzeczki</b></p>
	<p></p>


	<hr>

		
</div>
{% endblock %}