body
{
    background-color: #FFFFFF;
}
a
{
    color: #000000;
}

.custom-margin-top-lg
{
	margin-top: 150px;
}
.custom-margin-top-md
{
	margin-top: 75px;
}
.custom-margin-right-sm
{
	margin-right: 25px;
}
.custom-margin-left-sm
{
	margin-left: 25px;
}
.custom-margin-none
{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;

}
.navbar-custom {
    color: #FFFFFF;
    background-color: #24292e;
}
.custom-content
{
	margin-left: 25px;
}
.text-dark
{
	color: #121212;
}