body
{
    background-color: #FFFFFF;
}
a
{
    text-decoration: none;
    color: inherit;
}
a:hover{
	color: inherit;
}
.custom-link
{
	color: #006699;
    text-decoration: none;
    display: block;
}
.custom-link:hover
{
	color: #006699;
    text-decoration: none;
}
.custom-margin-top-lg
{
	margin-top: 150px;
}
.custom-margin-top-md
{
	margin-top: 75px;
}
.custom-margin-right-sm
{
	margin-right: 25px;
}
.custom-margin-left-sm
{
	margin-left: 25px;
}
.custom-margin-none
{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;

}
.custom-margin-auto
{
	margin: auto;

}
.navbar-custom {
    color: #FFFFFF;
    background-color: #24292e;
}
.text-dark
{
	color: #121212;
}
.footer {
	position: fixed;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	padding: 1rem;
    background-color: #353a3f;

}
.footer-content{
	padding: 10px;
	color: #cdcdcd;
}
.font-sm{
	font-size: 12px;
}
.font-sm-md{
	font-size: 18px;
}
.font-md{
	font-size: 24px;
}
.font-lg{
	font-size: 36px;
}
.glyph-fb{
	color: #3b5998;
}
.glyph-twit{
	color: #55acee;
}
.glyph-fb:hover{
	color: #4c6aa9;
}
.glyph-twit:hover{
	color: #66bdff;
}
.post-newest{
	font-size: 120%;
}
.horizontal-tile
{
	height: 75px;
	line-height: 75px;
}
.horizontal-tile:hover
{
	background-color: #E6E5E5;
}