{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
	
	{% for post in posts %}
		<h2><span class="glyphicon glyphicon-circle-arrow-right"></span> <a href={{ path('postDetails', {id:post.id}) }}>{{ post.title }}</a></h2>
	{% endfor %}

</div>
{% endblock %}