{% extends 'base.html.twig' %}

{% block body %}

<div class="container custom-margin-top-md">

	<h1><b>Powered by BeerGineers</b></h1>
	<div><img src="{{ asset('beer_engineer.jpg') }}" alt="beergineers"></div>



		
</div>

{% endblock %}